.cy-nav {
    height: 100px;
    background-color: darkgray;
    color: white;
}

.cy-top-container {
    padding: 0 !important;
    margin-bottom: 20px;
}

.cy-section {
    margin-bottom: 30px;
}

.cy-section-header-letter {
    font-weight: bold;
    margin-right:10px;
}

.form-row {
    margin-bottom:10px;
}

.cy-list-number {
    font-weight: bold;
    margin-right: 10px;
}

.cy-input {
    margin-bottom: 10px;
}